.headerFluidContainer {
  position: sticky;
  z-index: 999;
  top: -10px;
  padding: 10px 0px;
}
.headerButton {
  height: 50px;
  border: 1px solid transparent !important;
  background-color: #be8553;
  color: #fff;
  font-weight: 500;
}
.navbarContainer {
  --bs-gutter-x: 0rem !important;
}
